manifest {
    homePage = 'https://github.com/IARCbioinfo/ampliconarchitect-nf'
    description = 'ecDNA prediction'
    mainScript = 'main.nf'
    version  = '1.0'
    name = 'ampliconarchitect-nf'
}

profiles {
  //we do not have a conda recipe
 // conda { process.conda = "$baseDir/environment.yml" }
  docker {
    docker.enabled = true
  }
  singularity {
    singularity.enabled = true
    singularity.autoMounts = true
  }
}


process {
    shell =  ['/bin/bash','-o','pipefail']
    // Amplicon container with all the needed software
    container = "iarcbioinfo/aarchitect:v3.0"
}




params {

output_folder="./amplicon_results"
//we init some parameters
moseklm_license = null
tumor_file = null
help = false
debug = false
aa_repo_dir = null
cram_dir = null
bam = false
// resource defaults
max_memory = 128.GB
max_cpus = 8
max_time = 240.h

cpu          = 1
mem          = 5

}

timeline {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/ampliconarchitect-nf_timeline.html"
}

report {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/ampliconarchitect-nf_report.html"
}

trace {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/ampliconarchitect-nf_trace.txt"
}

dag {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/ampliconarchitect-nf_dag.html"

}



//Mesage regarding errors or complete
workflow.onComplete = {
    // any workflow property can be used here
    println "Pipeline complete"
    println "Command line: $workflow.commandLine"
}


workflow.onError = {
   println "Oops... Pipeline execution stopped with the following message: ${workflow.errorMessage}"
}
